    <!-- About Test -->
<section id="activities" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Activities</h2>
              <br/>
                IDM4SCO supports workshops for setting up a national network on MDE for complex systems, 
                    and specific meetings to start a long-term support of the research field with core partners.<br/><br/>
                
                <ul style="list-style-type:none">
                    <li><a href="./kickoff/">Kickoff meeting (Sep. 6th, 2018)</a></li>
                </ul>

                <br/>
              </div>
        </div>
    </section>
