    <!-- About Test -->
<section id="publications" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Publications</h2>
              <br/>
                <p>Most relevant publications from the IDM4SCO partners (TBC.), for the sake of background definition.</p>
                <br/>
                <small>
                <p><em><a href="https://hal.inria.fr/hal-01185800v2">"Modeling for Sustainability"</a></em>,<br/>
                    Benoit Combemale, Betty H.C. Cheng, Ana Moreira, Jean-Michel Bruel, Jeff Gray.<br/>
                    In International Workshop on Modeling in Software Engineering 2016 (MiSE'16).</p>
                <p><em><a href="https://hal.inria.fr/hal-01141393">"MDE in Practice for Computational Science"</a></em>,<br/>
                    Jean-Michel Bruel, Benoit Combemale, Ileana Ober, Hélène Raynal.<br/>
                    In International Conference on Computational Science 2015 (ICCS'15).</p>
                <p><em><a href="https://hal.archives-ouvertes.fr/hal-01815481">"Ambient Intelligence Users in the Loop: Towards a Model-Driven Approach"</a></em>,<br/>
                        Maroun Koussaifi, Sophie Trouilhet, Jean-Paul Arcangeli, Jean-Michel Bruel.<br/>
                        In International Workshop Microservices: Science and Engineering 2018.</p>
                <p><em><a href="https://dl.acm.org/citation.cfm?id=2892696">"Towards Projection: Mapping Reflection Onto the Userland"</a></em>, <br/>
                    Nick Papoulias and Serge Stinckwich.<br/>
                    In Companion Proceedings of Modularity'16, ACM, 2016.</p>
                <p><em><a href="https://dl.acm.org/citation.cfm?doid=2991041.2991061">"Explicit Composition Constructs in DSLs: The Case of the Epidemiological Language KENDRICK"</a></em>,<br/>
                    Thi Mai Anh Bui, Nick Papoulias, Mikal Ziane, and Serge Stinckwich.<br/>
                    In International Workshop on Smalltalk Technologies (IWST'16).</p>
                <p><em><a href="https://dblp.uni-trier.de/db/journals/sosym/sosym17.html#OberPBL18">"On the use of models for high-performance scientific computing applications: an experience report"</a></em>,<br/>
                    Ileana Ober, Marc Palyart, Jean-Michel Bruel, David Lugato.<br/>
                    In Software and System Modeling 17(1): 319-342.</p>
                <p><em><a href="https://link.springer.com/chapter/10.1007/978-3-319-11587-0_6"></a>"OTowards a Generic Framework for the Initialization and the Observation of Socio-environmental Models"</a></em>,<br/>
                    Hasina Lalaina RakotonirainyJean-Pierre MüllerBertin Olivier Ramamonjisoa.<br/>
                    In MEDI 2014.</p>
                </small>
              </div>
        </div>
    </section>
